.aside_wrap {
  width: max-content;
  min-height: calc(100vh - 225px);
  max-height: 100vh;
  display: flex;
  position: relative;
  background: blueviolet;

  ._aside {
    width: 100%;
    background: silver;
    padding: 5px;

    form{
      display: flex;
      flex-direction: column;
    }
  }

  .toggle_button {
    position: absolute;
    right: -30px;
    top: 0;
    transition: 0.1s;
  }
  .toggle_button:hover{
   scale: 1.1;
    transition: 0.1s;
  }
  .toggle_button:active{
    color: gray;
    transition: .1s;
  }
  .active{
    display: none;

  }
}
